/* Estilo del cuerpo */
body {
    margin: 0;
    padding: 20px; /* Un margen uniforme */
    font-family: Arial, sans-serif;
    background-color: #c4e0ff;
   
}

/* Encabezados */
h2, h3 {
    color: #191c1d;
    text-align: center;
    margin-bottom: 20px;
}

/* Contenedor principal para el formulario y la tabla */
.container {
    display: flex;
    justify-content: space-between; /* Distribuye los elementos a los extremos */
    align-items: flex-start; /* Alinea los elementos en la parte superior */
    padding: 10px;
    padding-top:20px;
    gap: 10px; /* Espacio entre el formulario y la tabla */
}

/* Estilo del formulario */
.form-edit-instance {
    width: 0%; /* Mantiene el formulario compacto */
    background-color: #1c2541;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    gap: 15px; /* Espacio entre los elementos del formulario */
}

.form-edit-instance label {
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 5px;
}

.form-edit-instance input {
    width: 100%;
    padding: 10px;
    border: 1px solid #3a506b;
    border-radius: 5px;
    background-color: #0d1b2a;
    color: #ffffff;
    margin-left:10px;
}

.form-edit-subject input {
    width: 100%;
    padding: 10px;
    border: 1px solid #3a506b;
    border-radius: 5px;
    background-color: #0d1b2a;
    color: #ffffff;
    margin-left:10px;
}

/* Alineación de los botones */
.form-buttons {
    display: flex;
    justify-content: space-between;
    gap: 10px; /* Espacio entre los botones */
    margin-top: 10px;
}

button {
    flex: 1; /* Los botones ocuparán el mismo espacio */
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
}

/* Botones específicos */
button[name="aceptar"] {
    background-color: #0c5a81;
    color: #ffffff;
}

button[name="cancelar"] {
    background-color: #6b3a3a;
    color: white;
}

.deleteInstanceBtn{
    background-color: red;
    color:white;
}

/* Estilo de la lista de datos / tabla */
.data-list {
    width: 100%; /* Asegura que la tabla ocupe más espacio */
    background-color: #1c2541;
    padding: 0px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border: 1px solid #ffffff;
    overflow-x: auto; /* Permite desplazamiento horizontal si es necesario */
}



th, td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #3a506b;
    color:#ffffff;
    
}

th {
    background-color: #0f4058;
    color: #ffffff;
}

tr:hover {
    background-color: #3a506b;
    color: white;
}



table{
    width:100%;
    margin-right:0;
    
}

form{


text-align: center;

}